<div *ngFor="let subQuestion of triageQuestion.subQuestions">
  <!-- Sub question -->
  <div class="row" *ngIf="subQuestion.questionType == 'CHOICE'">
    <div class="col-12 question" style="font-weight: bold;">
      {{ subQuestion.question }}
      <span *ngFor="let infomation of triageQuestion.subQuestions">
        <mat-icon *ngIf="infomation.questionType == 'DISPLAY' && infomation.extension.display == subQuestion.questionId"
          matTooltipPosition="after" matTooltip="{{ infomation.question }}">
          help
        </mat-icon>
      </span>
      <span *ngIf="subQuestion.required">*Required</span>
    </div>
  </div>
  <!-- Sub answers -->
  <div class="radio-group" *ngIf="subQuestion.questionType == 'CHOICE'">
    <mat-radio-group class="radio-group" *ngFor="let subAnswer of subQuestion.options" [disabled]="disabled">
      <mat-radio-button class="radio-button" [value]="subAnswer" (click)="selectedAnswer(subAnswer, subQuestion)"
        [checked]="selectedContains(subAnswer, subQuestion)">
        {{subAnswer.display}}
        <span *ngFor="let infomation of triageQuestion.subQuestions">
          <mat-icon *ngIf="infomation.questionType == 'DISPLAY' && infomation.extension.display == subAnswer.code"
            matTooltipPosition="after" matTooltip="{{ infomation.question }}">
            help
          </mat-icon>
        </span>
      </mat-radio-button>
    </mat-radio-group>
  </div>

</div>