<h1 mat-dialog-title>Encounter report search</h1>
<div mat-dialog-content>
  <div>
    <mat-form-field class="full-width">
      <mat-label>NHS Number</mat-label>
      <input required matInput [(ngModel)]="nhsNumber" />
      <mat-hint>Search will return all encounter reports for patients with this NHS Number</mat-hint>
      <mat-error *ngIf="!nhsNumber">Required</mat-error>
    </mat-form-field>
  </div>
  <div *ngIf="reportsFound">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let report of reportsFound">
        <mat-expansion-panel-header>
          <mat-panel-title>{{report.encounterId}}</mat-panel-title>
          <mat-panel-description>View Details</mat-panel-description>
        </mat-expansion-panel-header>
        <p>Start: {{report.encounterStart}}</p>
        <p>End: {{report.encounterEnd}}</p>
        <p>Patient Name: {{report.patientName}}</p>
        <p>Patient Address: {{report.patientAddress}}</p>
        <p>Observations:</p>
        <ul>
          <li *ngFor="let obs of report.observations">{{obs}}</li>
        </ul>
        <button mat-raised-button (click)="handover(report)">Continue This Encounter</button>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div *ngIf="reportsFound && !reportsFound.length">
    <p>No results found.</p>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button [disabled]="!nhsNumber" (click)="search()">Search</button>
</div>