<div class="container" *ngIf="questionnaire.triageQuestions; else elseBlock">
  <div class="row col-12" *ngFor="let triageQuestion of questionnaire.triageQuestions">
    <div class="container">

      <div class="row bar">
        <div class="col-12 question" style="font-weight: bold;">
          {{ formatQuestion(triageQuestion) }}
          <span *ngFor="let infomation of triageQuestion.subQuestions">
                        <mat-icon
                            *ngIf="infomation.questionType == 'DISPLAY' && infomation.extension.display == triageQuestion.questionId"
                            matTooltipPosition="after"
                            matTooltip="{{ infomation.question }}">help</mat-icon>
                    </span>
          <span *ngIf="triageQuestion.required">*Required</span>
        </div>
      </div>

      <div class="answers row">

        <form #form="ngForm" class="col-12" *ngIf="triageQuestion.questionType == 'CHOICE'">
          <img *ngIf="hasInitialValue(triageQuestion)"
               [src]="triageQuestion.responseAttachmentInitial" height="200" style="float:right;">
          <div class="radio-group">
            <mat-radio-group class="radio-group" *ngFor="let answer of triageQuestion.options"
                             [disabled]="checkEnableWhen(triageQuestion)">
              <mat-radio-button class="radio-button" [value]="answer"
                                (click)="selectedAnswer(answer, triageQuestion)"
                                [checked]="selectedContains(answer, triageQuestion)">
                {{answer.display}}
                <span *ngFor="let infomation of triageQuestion.subQuestions">
                                <mat-icon
                                    *ngIf="infomation.questionType == 'DISPLAY' && infomation.extension.display == answer.code"
                                    matTooltipPosition="after"
                                    matTooltip="{{ infomation.question }}">help</mat-icon>
                            </span>
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </form>

        <form #form="ngForm" class="col-12"
              *ngIf="triageQuestion.questionType == 'GROUP' && triageQuestion.subQuestions">
          <div *ngFor="let subQuestion of triageQuestion.subQuestions">
            <div class="row" *ngIf="subQuestion.questionType == 'CHOICE'">
              <div class="col-12 question" style="font-weight: bold;">
                {{ subQuestion.question }}
                <span *ngFor="let infomation of triageQuestion.subQuestions">
                                <mat-icon
                                    *ngIf="infomation.questionType == 'DISPLAY' && infomation.extension.display == subQuestion.questionId"
                                    matTooltipPosition="after"
                                    matTooltip="{{ infomation.question }}">help</mat-icon>
                            </span>
                <span *ngIf="subQuestion.required">*Required</span>
              </div>
            </div>

            <img *ngIf="hasInitialValue(subQuestion)" [src]="subQuestion.responseAttachmentInitial"
                 height="200" style="float:right;">

            <div class="radio-group" *ngIf="subQuestion.questionType == 'CHOICE'">
              <mat-radio-group class="radio-group" *ngFor="let subAnswer of subQuestion.options"
                               [disabled]="checkEnableWhen(triageQuestion)">
                <mat-radio-button class="radio-button" [value]="subAnswer"
                                  (click)="selectedAnswer(subAnswer, subQuestion)"
                                  [checked]="selectedContains(subAnswer, subQuestion)">
                  {{subAnswer.display}}
                  <span *ngFor="let infomation of triageQuestion.subQuestions">
                                    <mat-icon
                                        *ngIf="infomation.questionType == 'DISPLAY' && infomation.extension.display == subAnswer.code"
                                        matTooltipPosition="after"
                                        matTooltip="{{ infomation.question }}">help</mat-icon>
                                </span>
                </mat-radio-button>
              </mat-radio-group>
            </div>

          </div>
        </form>

        <form #form="ngForm" class="col-12"
              *ngIf="triageQuestion.questionType == 'STRING' && !hasInitialValue(triageQuestion)">
          <div class="answers">
            <img *ngIf="hasInitialValue(triageQuestion)"
                 [src]="triageQuestion.responseAttachmentInitial" height="200" style="float:right;">
            <mat-form-field class="example-full-width col-12">
              <input matInput placeholder={{triageQuestion.question}}
                     (input)="onStringAnswerChange($event.target.value, triageQuestion)"
                     [disabled]="checkEnableWhen(triageQuestion)"
                     value="{{ getFreeText(triageQuestion.questionId) }}">
            </mat-form-field>
          </div>
        </form>

        <form #form="ngForm" class="col-12" *ngIf="triageQuestion.questionType == 'TEXT'">
          <div class="answers">
            <mat-form-field class="example-full-width col-12">
                                <textarea matInput placeholder={{triageQuestion.question}}
                                          (input)="onStringAnswerChange($event.target.value, triageQuestion)"
                                          [disabled]="checkEnableWhen(triageQuestion)"
                                          value="{{ getFreeText(triageQuestion.questionId) }}">
                                </textarea>
            </mat-form-field>
          </div>
        </form>

        <form #form="ngForm" class="col-12" *ngIf="triageQuestion.questionType == 'INTEGER'">
          <div class="answers">
            <img *ngIf="hasInitialValue(triageQuestion)"
                 [src]="triageQuestion.responseAttachmentInitial" height="200" style="float:right;">
            <mat-form-field class="example-full-width col-8">
              <input matInput type="number" placeholder={{triageQuestion.question}}
                     (input)="onIntegerAnswerChange($event.target.value, triageQuestion)"
                     [disabled]="checkEnableWhen(triageQuestion)"
                     value="{{ getFreeText(triageQuestion.questionId) }}">
              <mat-hint align="start"><strong>Only enter a whole number(1, 6, 199 etc.).</strong>
              </mat-hint>
            </mat-form-field>
          </div>
        </form>

        <form #form="ngForm" class="col-12" *ngIf="triageQuestion.questionType == 'DISPLAY'">
          <div class="answers">
            <mat-card class="example-full-width col-8">
              <mat-card-content>
                <p><strong>Text:</strong> {{triageQuestion.question}}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </form>

        <form #form="ngForm" class="col-12" *ngIf="triageQuestion.questionType == 'DECIMAL'">
          <div class="answers">
            <img *ngIf="hasInitialValue(triageQuestion)"
                 [src]="triageQuestion.responseAttachmentInitial" height="200" style="float:right;">
            <mat-form-field class="example-full-width col-8">
              <input matInput type="number" step="0.1" placeholder={{triageQuestion.question}}
                     (input)="onDecimalAnswerChange($event.target.value, triageQuestion)"
                     [disabled]="checkEnableWhen(triageQuestion)"
                     value="{{ getFreeText(triageQuestion.questionId) }}">
              <mat-hint align="start"><strong>Please enter a decimal number(1.23, 3.56
                etc.).</strong></mat-hint>
            </mat-form-field>
          </div>
        </form>
        <form #form="ngForm" class="col-12" *ngIf="triageQuestion.questionType == 'BOOLEAN'">
          <div class="answers">
            <img *ngIf="hasInitialValue(triageQuestion)"
                 [src]="triageQuestion.responseAttachmentInitial" height="200" style="float:right;">
            <mat-form-field class="example-full-width col-8">
              <mat-select placeholder={{triageQuestion.question}}
                          (selectionChange)="onBooleanAnswerChange($event.value, triageQuestion)"
                          [disabled]="checkEnableWhen(triageQuestion)">
                <mat-option [value]="true">true</mat-option>
                <mat-option [value]="false">false</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
        <form #form="ngForm" class="col-12" *ngIf="isDate(triageQuestion)">
          <div class="answers">
            <img *ngIf="hasInitialValue(triageQuestion)"
                 [src]="triageQuestion.responseAttachmentInitial" height="200" style="float:right;">
            <mat-form-field class="example-full-width col-8">
              <input matInput [matDatepicker]="myDatepicker"
                     (dateChange)="onDateAnswerChange($event.target.value, triageQuestion)"
                     disabled>
              <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>
        </form>

        <form #form="ngForm" class="col-12"
              *ngIf="triageQuestion.questionType == 'ATTACHMENT' && !hasInitialValue(triageQuestion)">
          <div class="answers">
            <img *ngIf="hasInitialValue(triageQuestion)"
                 [src]="triageQuestion.responseAttachmentInitial" height="200" style="float:right;">
            <input id="singleFile" type="file" accept="image/gif, image/jpeg, image/png"
                   (change)="onAttachmentAnswerChange($event, triageQuestion)"
                   [disabled]="checkEnableWhen(triageQuestion)"/>
            <img [src]="triageQuestion.responseAttachmentInitial" height="200">
            <mat-error *ngIf="attachmentError">Please upload an image file.</mat-error>
          </div>
        </form>

        <form #form="ngForm" class="col-12" [ngSwitch]="getType(triageQuestion)">
          <imagemap-question *ngSwitchCase="questionnaireType.IMAGE_MAP"
            [answerSelected]="answerSelected"
            [triageQuestion]="triageQuestion"
            [cdssSupplierId]="questionnaire.cdssSupplierId"
            [disabled]="checkEnableWhen(triageQuestion)">
          </imagemap-question>
        </form>
      </div>
    </div>
  </div>

  <div class="row bar"
       *ngIf="(hasDraftReferralRequest()) || hasDraftCareAdvice(questionnaire.careAdvice)">
    <div class="result">
      <mat-card style="padding-right: 30px;">
        <mat-card-title class="col-12">Interim Result: {{ questionnaire.result }}</mat-card-title>
        <mat-tab-group style="clear: both;">
          <mat-tab label="Interim result:">
            <mat-card>
              <mat-card-content *ngIf="questionnaire.referralRequest">
                <app-referral-request [referralRequest]="questionnaire.referralRequest"></app-referral-request>
              </mat-card-content>
            </mat-card>
          </mat-tab>
          <mat-tab label="Interim Care Advice">
            <mat-card *ngIf="questionnaire.careAdvice">
              <mat-card-content *ngFor="let careAdvice of questionnaire.careAdvice">
                <app-care-plan [carePlan]="careAdvice"></app-care-plan>
                <hr>
              </mat-card-content>
            </mat-card>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #elseBlock>
  <div class="container-fluid col-12">
    <div class="row bar col-12">
      <div class="col-12 question" style="font-weight: bold;">
        Result
      </div>
    </div>
    <div class="result">

      <mat-card style="margin-right: 30px;">
        <mat-card-title class="col-8" style="display:inline-block;">
          Result: {{ questionnaire.result }}</mat-card-title>

        <mat-tab-group style="clear: both;">
          <mat-tab label="Result Details" *ngIf="questionnaire.referralRequest">
            <mat-card>
              <div class="container">
                <div class="row">
                  <app-referral-request [referralRequest]="questionnaire.referralRequest"></app-referral-request>
                </div>
              </div>
            </mat-card>
          </mat-tab>

          <mat-tab label="Care Advice">
            <mat-card *ngIf="questionnaire.careAdvice">
              <mat-card-content *ngFor="let careAdvice of questionnaire.careAdvice">
                <app-care-plan [carePlan]="careAdvice"></app-care-plan>
                <hr>
              </mat-card-content>
            </mat-card>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </div>

  <app-dos-display
      *ngIf="questionnaire.referralRequest"
      [caseId]="questionnaire.caseId"
      [referralRequest]="questionnaire.referralRequest"></app-dos-display>

</ng-template>