<div class="container" *ngIf="questionnaire.triageQuestions; else elseBlock">
  <div class="row col-12" *ngFor="let triageQuestion of questionnaire.triageQuestions">
    <div class="container">

      <div class="row bar">
        <div class="col-12 question" style="font-weight: bold;">
          {{ formatQuestion(triageQuestion) }}
          <span *ngFor="let infomation of triageQuestion.subQuestions">
                        <mat-icon
                            *ngIf="infomation.questionType == 'DISPLAY' && infomation.extension.display == triageQuestion.questionId"
                            matTooltipPosition="after"
                            matTooltip="{{ infomation.question }}">help</mat-icon>
                    </span>
          <span *ngIf="triageQuestion.required">*Required</span>
        </div>
      </div>

      <div class="answers row">

        <form #form="ngForm" class="col-12" *ngIf="triageQuestion.questionType == 'CHOICE'">
          <img *ngIf="hasInitialValue(triageQuestion)"
               [src]="triageQuestion.responseAttachmentInitial" height="200" style="float:right;">
          <div class="radio-group">
            <mat-radio-group class="radio-group" *ngFor="let answer of triageQuestion.options"
                             [disabled]="checkEnableWhen(triageQuestion)">
              <mat-radio-button class="radio-button" [value]="answer"
                                (click)="selectedAnswer(answer, triageQuestion)"
                                [checked]="selectedContains(answer, triageQuestion)">
                {{answer.display}}
                <span *ngFor="let infomation of triageQuestion.subQuestions">
                                <mat-icon
                                    *ngIf="infomation.questionType == 'DISPLAY' && infomation.extension.display == answer.code"
                                    matTooltipPosition="after"
                                    matTooltip="{{ infomation.question }}">help</mat-icon>
                            </span>
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </form>

        <form #form="ngForm" class="col-12"
              *ngIf="triageQuestion.questionType == 'GROUP' && triageQuestion.subQuestions">
          <div *ngFor="let subQuestion of triageQuestion.subQuestions">
            <div class="row" *ngIf="subQuestion.questionType == 'CHOICE'">
              <div class="col-12 question" style="font-weight: bold;">
                {{ subQuestion.question }}
                <span *ngFor="let infomation of triageQuestion.subQuestions">
                                <mat-icon
                                    *ngIf="infomation.questionType == 'DISPLAY' && infomation.extension.display == subQuestion.questionId"
                                    matTooltipPosition="after"
                                    matTooltip="{{ infomation.question }}">help</mat-icon>
                            </span>
                <span *ngIf="subQuestion.required">*Required</span>
              </div>
            </div>

            <img *ngIf="hasInitialValue(subQuestion)" [src]="subQuestion.responseAttachmentInitial"
                 height="200" style="float:right;">

            <div class="radio-group" *ngIf="subQuestion.questionType == 'CHOICE'">
              <mat-radio-group class="radio-group" *ngFor="let subAnswer of subQuestion.options"
                               [disabled]="checkEnableWhen(triageQuestion)">
                <mat-radio-button class="radio-button" [value]="subAnswer"
                                  (click)="selectedAnswer(subAnswer, subQuestion)"
                                  [checked]="selectedContains(subAnswer, subQuestion)">
                  {{subAnswer.display}}
                  <span *ngFor="let infomation of triageQuestion.subQuestions">
                                    <mat-icon
                                        *ngIf="infomation.questionType == 'DISPLAY' && infomation.extension.display == subAnswer.code"
                                        matTooltipPosition="after"
                                        matTooltip="{{ infomation.question }}">help</mat-icon>
                                </span>
                </mat-radio-button>
              </mat-radio-group>
            </div>

          </div>
        </form>

        <form #form="ngForm" class="col-12"
              *ngIf="triageQuestion.questionType == 'STRING' && !hasInitialValue(triageQuestion)">
          <div class="answers">
            <img *ngIf="hasInitialValue(triageQuestion)"
                 [src]="triageQuestion.responseAttachmentInitial" height="200" style="float:right;">
            <mat-form-field class="example-full-width col-12">
              <input matInput placeholder={{triageQuestion.question}}
                     (input)="onStringAnswerChange($event.target.value, triageQuestion)"
                     [disabled]="checkEnableWhen(triageQuestion)"
                     value="{{ getFreeText(triageQuestion.questionId) }}">
            </mat-form-field>
          </div>
        </form>

        <form #form="ngForm" class="col-12" *ngIf="triageQuestion.questionType == 'TEXT'">
          <div class="answers">
            <mat-form-field class="example-full-width col-12">
                                <textarea matInput placeholder={{triageQuestion.question}}
                                          (input)="onStringAnswerChange($event.target.value, triageQuestion)"
                                          [disabled]="checkEnableWhen(triageQuestion)"
                                          value="{{ getFreeText(triageQuestion.questionId) }}">
                                </textarea>
            </mat-form-field>
          </div>
        </form>

        <form #form="ngForm" class="col-12" *ngIf="triageQuestion.questionType == 'INTEGER'">
          <div class="answers">
            <img *ngIf="hasInitialValue(triageQuestion)"
                 [src]="triageQuestion.responseAttachmentInitial" height="200" style="float:right;">
            <mat-form-field class="example-full-width col-8">
              <input matInput type="number" placeholder={{triageQuestion.question}}
                     (input)="onIntegerAnswerChange($event.target.value, triageQuestion)"
                     [disabled]="checkEnableWhen(triageQuestion)"
                     value="{{ getFreeText(triageQuestion.questionId) }}">
              <mat-hint align="start"><strong>Only enter a whole number(1, 6, 199 etc.).</strong>
              </mat-hint>
            </mat-form-field>
          </div>
        </form>

        <form #form="ngForm" class="col-12" *ngIf="triageQuestion.questionType == 'DISPLAY'">
          <div class="answers">
            <mat-card class="example-full-width col-8">
              <mat-card-content>
                <p><strong>Text:</strong> {{triageQuestion.question}}</p>
              </mat-card-content>
            </mat-card>
          </div>
        </form>

        <form #form="ngForm" class="col-12" *ngIf="triageQuestion.questionType == 'DECIMAL'">
          <div class="answers">
            <img *ngIf="hasInitialValue(triageQuestion)"
                 [src]="triageQuestion.responseAttachmentInitial" height="200" style="float:right;">
            <mat-form-field class="example-full-width col-8">
              <input matInput type="number" step="0.1" placeholder={{triageQuestion.question}}
                     (input)="onDecimalAnswerChange($event.target.value, triageQuestion)"
                     [disabled]="checkEnableWhen(triageQuestion)"
                     value="{{ getFreeText(triageQuestion.questionId) }}">
              <mat-hint align="start"><strong>Please enter a decimal number(1.23, 3.56
                etc.).</strong></mat-hint>
            </mat-form-field>
          </div>
        </form>
        <form #form="ngForm" class="col-12" *ngIf="triageQuestion.questionType == 'BOOLEAN'">
          <div class="answers">
            <img *ngIf="hasInitialValue(triageQuestion)"
                 [src]="triageQuestion.responseAttachmentInitial" height="200" style="float:right;">
            <mat-form-field class="example-full-width col-8">
              <mat-select placeholder={{triageQuestion.question}}
                          (selectionChange)="onBooleanAnswerChange($event.value, triageQuestion)"
                          [disabled]="checkEnableWhen(triageQuestion)">
                <mat-option [value]="true">true</mat-option>
                <mat-option [value]="false">false</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </form>
        <form #form="ngForm" class="col-12" *ngIf="triageQuestion.questionType == 'DATE'">
          <div class="answers">
            <img *ngIf="hasInitialValue(triageQuestion)"
                 [src]="triageQuestion.responseAttachmentInitial" height="200" style="float:right;">
            <mat-form-field class="example-full-width col-8">
              <input matInput [matDatepicker]="myDatepicker"
                     (dateChange)="onDateAnswerChange($event.target.value, triageQuestion)"
                     disabled>
              <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>
        </form>

        <form #form="ngForm" class="col-12"
              *ngIf="triageQuestion.questionType == 'ATTACHMENT' && !hasInitialValue(triageQuestion)">
          <div class="answers">
            <img *ngIf="hasInitialValue(triageQuestion)"
                 [src]="triageQuestion.responseAttachmentInitial" height="200" style="float:right;">
            <input id="singleFile" type="file" accept="image/gif, image/jpeg, image/png"
                   (change)="onAttachmentAnswerChange($event, triageQuestion)"
                   [disabled]="checkEnableWhen(triageQuestion)"/>
            <img [src]="triageQuestion.responseAttachmentInitial" height="200">
          </div>
        </form>

        <form #form="ngForm" class="col-12" *ngIf="isImageMap(triageQuestion)">
          <div class="answers">
            <img [src]="getImageUrl(triageQuestion.question)" height="400"
                 (click)="mouseClickOnImage($event, triageQuestion)">
            <p> {{ freeText.get(triageQuestion.questionId) }} </p>
          </div>
        </form>


      </div>
    </div>
  </div>

  <div class="row bar"
       *ngIf="(questionnaire.referralRequest && questionnaire.referralRequest.status == 'draft') || hasDraftCareAdvice(questionnaire.careAdvice)">
    <div class="result">
      <mat-card style="padding-right: 30px;">
        <mat-card-title class="col-12">Interim Result: {{ questionnaire.result }}
          <button *ngIf="handoverMessage && reports && !isloadingReport" id="continue"
                  class="col-sm-5 offset-sm-2" (click)="openDialog()">
            View Result/Reports
          </button>
          <button *ngIf="!handoverMessage || !reports || isloadingReport" id="continue"
                  class="col-sm-5 offset-sm-2" style="padding:0px!important;" disabled>
            View Result/Reports
            <mat-progress-bar mode="indeterminate"
                              style="width:100%;padding: 0;margin: 0;"></mat-progress-bar>
          </button>
        </mat-card-title>
        <mat-tab-group style="clear: both;">
          <mat-tab label="Interim result:">
            <mat-card>
              <mat-card-content *ngIf="questionnaire.referralRequest">
                <p *ngIf="questionnaire.referralRequest.status">
                  <strong>Status:</strong> {{ questionnaire.referralRequest.status}}</p>
                <p *ngIf="questionnaire.referralRequest.priority">
                  <strong>Priority:</strong>  {{ questionnaire.referralRequest.priority}}</p>
                <p *ngIf="questionnaire.referralRequest.serviceRequested"><strong>Service
                  Requested:</strong></p>
                <ul *ngFor="let serviceRequested of questionnaire.referralRequest.serviceRequested">
                  <li><strong>System:</strong> {{ serviceRequested.serviceRequestedSystem }}</li>
                  <li><strong>Code:</strong> {{ serviceRequested.serviceRequestedCode }}</li>
                  <li><strong>Display:</strong> {{ serviceRequested.serviceRequestedDisplay }}</li>
                </ul>
                <p *ngIf="questionnaire.referralRequest.occurence">
                  <strong>Occurence:</strong> {{ questionnaire.referralRequest.occurence}}</p>
                <p *ngIf="questionnaire.referralRequest.specialty">
                  <strong>Specialty:</strong> {{ questionnaire.referralRequest.specialty}}</p>
                <p *ngIf="questionnaire.referralRequest.recipient">
                  <strong>Recipient:</strong> {{ questionnaire.referralRequest.recipient }}</p>
                <p *ngIf="questionnaire.referralRequest.description">
                  <strong>Description:</strong> {{ questionnaire.referralRequest.description }}</p>
                <p *ngIf="questionnaire.referralRequest.reasonReference"><strong>Reason
                  Reference:</strong> {{ questionnaire.referralRequest.reasonReference }}</p>
                <p *ngIf="questionnaire.referralRequest.supportingInfo"><strong>Supporting
                  Info:</strong></p>
                <ul *ngFor="let supportingInfo of questionnaire.referralRequest.supportingInfo">
                  <li>{{ supportingInfo }}</li>
                </ul>
                <p *ngIf="questionnaire.referralRequest.note">
                  <strong>Note:</strong> {{ questionnaire.referralRequest.note }}</p>
                <p *ngIf="questionnaire.referralRequest.relevantHistory"><strong>Relevant
                  History:</strong> {{ questionnaire.referralRequest.relevantHistory }}</p>
              </mat-card-content>
            </mat-card>
          </mat-tab>
          <mat-tab label="Interim Care Advice">
            <mat-card *ngIf="questionnaire.careAdvice">
              <mat-card-content *ngFor="let careAdvice of questionnaire.careAdvice">
                <p *ngIf="careAdvice.title"><strong>Title:</strong> {{ careAdvice.title}}</p>
                <p *ngIf="careAdvice.description">
                  <strong>Description:</strong> {{ careAdvice.description}}</p>
                <p *ngIf="careAdvice.category"><strong>Category:</strong>  {{ careAdvice.category}}
                </p>
                <p *ngIf="careAdvice.system"><strong>System:</strong>  {{ careAdvice.system}}</p>
                <p *ngIf="careAdvice.code"><strong>Code:</strong>  {{ careAdvice.code}}</p>
                <p *ngIf="careAdvice.text"><strong>Text:</strong> {{ careAdvice.text}}</p>
                <p *ngIf="careAdvice.activities"><strong>Activities:</strong></p>
                <ul *ngFor="let activity of careAdvice.activities">
                  <li *ngIf="activity.description">
                    <strong>Description:</strong> {{ activity.description}}</li>
                  <li *ngIf="activity.display"><strong>Display:</strong> {{ activity.display}}</li>
                  <li *ngIf="activity.system"><strong>System:</strong> {{ activity.system}}</li>
                  <li *ngIf="activity.code"><strong>Code:</strong> {{ activity.code}}</li>
                  <li *ngIf="activity.text"><strong>Text:</strong> {{ activity.text}}</li>
                </ul>
                <p *ngIf="careAdvice.supportingInfo"><strong>SupportingInfo:</strong></p>
                <ul *ngFor="let info of careAdvice.supportingInfo">
                  <li *ngIf="info.reference"><strong>Reference:</strong> {{ info.reference}}</li>
                  <li *ngIf="info.display"><strong>Display:</strong> {{ info.display}}</li>
                </ul>
                <p *ngIf="careAdvice.notes"><strong>Notes:</strong></p>
                <ul *ngFor="let note of careAdvice.notes">
                  <li *ngIf="note.text"><strong>Text:</strong> {{ note.text}}</li>
                </ul>
                <hr>
              </mat-card-content>
            </mat-card>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </div>
</div>

<ng-template #elseBlock>
  <div class="container-fluid col-12">
    <div class="row bar col-12">
      <div class="col-12 question" style="font-weight: bold;">
        Result
      </div>
    </div>
    <div class="result">

      <mat-card style="margin-right: 30px;">
        <mat-card-title class="col-8" style="display:inline-block;">
          Result: {{ questionnaire.result }}</mat-card-title>

        <div *ngIf="reportEnabled">
          <button [ngClass]="{'no-padding': !reportReady}"
                  class="col-sm-4 offset-sm-0 continue"
                  [disabled]="!reportReady"
                  (click)="openDialog()">
            View Result/Reports
              <mat-progress-bar *ngIf="!reportReady" mode="indeterminate"></mat-progress-bar>
          </button>
        </div>

        <mat-tab-group style="clear: both;">
          <mat-tab label="Result Details" *ngIf="questionnaire.referralRequest">
            <mat-card>
              <div class="container">
                <div class="row">
                  <mat-card-content *ngIf="questionnaire.referralRequest" class="col-6">
                    <p *ngIf="questionnaire.referralRequest.status">
                      <strong>Status:</strong> {{ questionnaire.referralRequest.status}}</p>
                    <p *ngIf="questionnaire.referralRequest.priority">
                      <strong>Priority:</strong>  {{ questionnaire.referralRequest.priority}}</p>

                    <p *ngIf="questionnaire.referralRequest.serviceRequested"><strong>Service
                      Requested:</strong></p>
                    <ul *ngFor="let serviceRequested of questionnaire.referralRequest.serviceRequested">
                      <li><strong>System:</strong> {{ serviceRequested.serviceRequestedSystem }}
                      </li>
                      <li><strong>Code:</strong> {{ serviceRequested.serviceRequestedCode }}</li>
                      <li><strong>Display:</strong> {{ serviceRequested.serviceRequestedDisplay }}
                      </li>
                    </ul>
                  </mat-card-content>
                  <mat-card-content *ngIf="questionnaire.referralRequest" class="col-6">
                    <p *ngIf="questionnaire.referralRequest.occurence">
                      <strong>Occurence:</strong> {{ questionnaire.referralRequest.occurence}}</p>
                    <p *ngIf="questionnaire.referralRequest.reasonReference"><strong>Reason
                      Reference:</strong> {{ questionnaire.referralRequest.reasonReference }}</p>
                    <p *ngIf="questionnaire.referralRequest.specialty">
                      <strong>Specialty:</strong> {{ questionnaire.referralRequest.specialty}}</p>
                    <p *ngIf="questionnaire.referralRequest.recipient">
                      <strong>Recipient:</strong> {{ questionnaire.referralRequest.recipient }}</p>
                    <p *ngIf="questionnaire.referralRequest.description">
                      <strong>Description:</strong> {{ questionnaire.referralRequest.description }}
                    </p>

                    <p *ngIf="questionnaire.referralRequest.supportingInfo"><strong>Supporting
                      Info:</strong></p>
                    <ul *ngFor="let supportingInfo of questionnaire.referralRequest.supportingInfo">
                      <li>{{ supportingInfo }}</li>
                    </ul>

                    <p *ngIf="questionnaire.referralRequest.note">
                      <strong>Note:</strong> {{ questionnaire.referralRequest.note }}</p>
                    <p *ngIf="questionnaire.referralRequest.relevantHistory"><strong>Relevant
                      History:</strong> {{ questionnaire.referralRequest.relevantHistory }}</p>
                  </mat-card-content>
                </div>
              </div>
            </mat-card>
          </mat-tab>

          <mat-tab label="Procedure Request" *ngIf="questionnaire.procedureRequest">
            <mat-card>
              <div class="container">
                <div class="row">
                  <mat-card-content>
                    <p *ngIf="questionnaire.procedureRequest">
                      <strong>Title:</strong> {{ questionnaire.procedureRequest.text }}</p>

                    <p><strong>Requested procedure:</strong></p>
                    <ul>
                      <li *ngIf="questionnaire.procedureRequest.codeDisplay">
                        <strong>Display:</strong> {{ questionnaire.procedureRequest.codeDisplay }}
                      </li>
                      <li *ngIf="questionnaire.procedureRequest.codeSystem">
                        <strong>System:</strong> {{ questionnaire.procedureRequest.codeSystem }}
                      </li>
                      <li *ngIf="questionnaire.procedureRequest.codeCode">
                        <strong>Code:</strong> {{ questionnaire.procedureRequest.codeCode }}</li>
                    </ul>

                    <p><strong>Reason for requesting the procedure:</strong></p>
                    <ul>
                      <li *ngIf="questionnaire.procedureRequest.reasonCodeDisplay">
                        <strong>Display:</strong> {{ questionnaire.procedureRequest.reasonCodeDisplay }}
                      </li>
                      <li *ngIf="questionnaire.procedureRequest.reasonCodeSystem">
                        <strong>System:</strong> {{ questionnaire.procedureRequest.reasonCodeSystem }}
                      </li>
                      <li *ngIf="questionnaire.procedureRequest.reasonCodeCode">
                        <strong>Code:</strong> {{ questionnaire.procedureRequest.reasonCodeCode }}
                      </li>
                    </ul>

                    <hr>
                  </mat-card-content>
                </div>
              </div>
            </mat-card>
          </mat-tab>

          <mat-tab label="Care Advice">
            <mat-card *ngIf="questionnaire.careAdvice">
              <mat-card-content *ngFor="let careAdvice of questionnaire.careAdvice">
                <p *ngIf="careAdvice.title"><strong>Title:</strong> {{ careAdvice.title}}</p>
                <p *ngIf="careAdvice.description">
                  <strong>Description:</strong> {{ careAdvice.description}}</p>
                <p *ngIf="careAdvice.category"><strong>Category:</strong>  {{ careAdvice.category}}
                </p>
                <p *ngIf="careAdvice.system"><strong>System:</strong>  {{ careAdvice.system}}</p>
                <p *ngIf="careAdvice.code"><strong>Code:</strong>  {{ careAdvice.code}}</p>
                <p *ngIf="careAdvice.text"><strong>Text:</strong> {{ careAdvice.text}}</p>

                <p *ngIf="careAdvice.activities"><strong>Activities:</strong></p>
                <ul *ngFor="let activity of careAdvice.activities">
                  <li *ngIf="activity.description">
                    <strong>Description:</strong> {{ activity.description}}</li>
                  <li *ngIf="activity.display"><strong>Display:</strong> {{ activity.display}}</li>
                  <li *ngIf="activity.system"><strong>System:</strong> {{ activity.system}}</li>
                  <li *ngIf="activity.code"><strong>Code:</strong> {{ activity.code}}</li>
                  <li *ngIf="activity.text"><strong>Text:</strong> {{ activity.text}}</li>
                </ul>

                <p *ngIf="careAdvice.supportingInfo"><strong>SupportingInfo:</strong></p>
                <ul *ngFor="let info of careAdvice.supportingInfo">
                  <li *ngIf="info.reference"><strong>Reference:</strong> {{ info.reference}}</li>
                  <li *ngIf="info.display"><strong>Display:</strong> {{ info.display}}</li>
                </ul>

                <p *ngIf="careAdvice.notes"><strong>Notes:</strong></p>
                <ul *ngFor="let note of careAdvice.notes">
                  <li *ngIf="note.text"><strong>Text:</strong> {{ note.text}}</li>
                </ul>

                <hr>
              </mat-card-content>
            </mat-card>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </div>

  <app-dos-display
      *ngIf="questionnaire.referralRequest"
      [(referralRequest)]="questionnaire.referralRequest"></app-dos-display>

</ng-template>