<div class="row">
  <div class="col-sm-12 text-center">
    <div class="section">
      <div class="sectionTitle">Select Patient</div>
      <nav class="d-flex flex-wrap">
        <div *ngFor="let patient of patients">
          <button mat-raised-button [class.selected]="patient == selectedPatient"
                  class="btn btn-primary btnSearch text-center" (click)="change(patient)">
            <div>
              {{ patient.title }} {{ patient.firstName }} {{ patient.lastName }}
            </div>
            <div>
              Age: {{ patient.dateOfBirth | age }}
            </div>
          </button>
        </div>
      </nav>
    </div>
  </div>
</div>