.sectionTitle {
  text-align: left; 
  padding: 20px 20px 0 20px; 
}

nav {
  display: flex;
  margin: auto;
  justify-content: left;
  padding: 10px 30px;
  
}

.row:nth-child(odd) > div > div, .row:nth-child(odd) > div > nav {
  background-color: rgba(242, 242, 242, 1);
}

.row:nth-child(even) > div > div, .row:nth-child(even) > div > nav {
  background-color:rgb(214, 220, 226, 0.74);
}

.supplierGroup {
  margin: 30px;
  padding: 10px 30px;
  background-color: #f8f8f8;
}

.btnSearch {
  flex: 0 0 20%;
  min-width: 170px;
  width:100%;
  max-width: 33%;
  /* any width as long a % times number of items does not exceed 100% */
  text-align: center;
  background: white;
  color: #333333;
  white-space:normal;
  margin: 5px;
  border: white solid 2px;  
}

.btnSearch.selected {
  border: #005EB8 solid 2px;
}

.launch {
    background-color: rgba(0, 103, 71, 1); 
    color: white;
}