<div class="row">
  <div class="col-sm-12 text-center">
    <div class="section">
      <div class="sectionTitle">Select Patient</div>
      <nav class="d-flex flex-wrap">
        <div *ngFor="let patient of patients" class="">
          <button mat-raised-button [class.selected]="patient == selectedPatient"
                  class="btn btn-primary btnSearch text-center" (click)="addPatientToStore(patient); autoSelectServiceDefinition(false)">
            <div>
              {{ patient.title }} {{ patient.firstName }} {{ patient.lastName }}
            </div>
            <div>
              Age: {{ patient.dateOfBirth | age }}
            </div>
          </button>
        </div>
      </nav>
    </div>
  </div>
</div>

<triage-selection
  [title]="'Select Role'"
  [options]="roles"
  (onChange)="addRoleToStore($event)">
</triage-selection>

<triage-selection
  [title]="'Select Setting Context'"
  [options]="settings"
  (onChange)="addSettingToStore($event)">
</triage-selection>

<triage-selection
  [title]="'Select Jurisdiction'"
  [options]="jurisdictions"
  (onChange)="addJurisdictionToStore($event)">
</triage-selection>

<div class="row">
  <div class="col-sm-12 text-center">
    <div class="section">
      <div class="sectionTitle">Service Definition Selection Mode</div>
      <nav class="d-flex flex-wrap">
        <div>
          <button mat-raised-button [class.selected]="serviceDefinitionMode == 'automated'"
                  class="btn btn-primary btnSearch text-center"
                  (click)="autoSelectServiceDefinition(true);">
            Automated
          </button>
        </div>
        <div>
          <button mat-raised-button [class.selected]="serviceDefinitionMode == 'manual'"
                  class="btn btn-primary btnSearch text-center"
                  (click)="serviceDefinitionMode = 'manual'">
            Manual
          </button>
        </div>
      </nav>
    </div>
  </div>
</div>

<div class="row" *ngIf="serviceDefinitionMode == 'manual'">
  <div class="col-sm-12 text-center">
    <div class="section">
      <div class="sectionTitle">
          Select CDSS
        </div>
        <!-- Overrides the background color from the patients section -->
        <nav class="d-flex flex-wrap">
          <div *ngFor="let supplier of cdssSuppliers">
            <button mat-raised-button [class.selected]="supplier.id == selectedSupplier"
                    class="btn btn-primary btnSearch text-center"
                    (click)="setSelectedSupplier(supplier)">
              {{ supplier.name }}
            </button>
          </div>
        </nav>
    </div>
  </div>
</div>

<div class="row" *ngIf="serviceDefinitionMode == 'manual' && serviceDefinitions != null">
  <div class="col-sm-12 text-center">
    <div class="section">
        <div class="sectionTitle">Select Service Definition</div>
        <nav class="d-flex flex-wrap">
          <mat-form-field *ngIf="serviceDefinitions != null">
            <mat-select placeholder="Service Definition" [(ngModel)]="selectedServiceDefinition">
              <mat-option *ngFor="let serviceDefinition of serviceDefinitions"
                          [value]="serviceDefinition.serviceDefinitionId">{{ serviceDefinition.description }}</mat-option>
            </mat-select>
          </mat-form-field>
          <!--      <mat-form-field *ngIf="serviceDefinitions != null">-->
          <!--        <mat-select [(ngModel)]="selectedQueryType">-->
          <!--          <mat-option value="id">Get by Id</mat-option>-->
          <!--          <mat-option value="attributes">Search by Attributes</mat-option>-->
          <!--        </mat-select>-->
          <!--      </mat-form-field>-->
        </nav>
    </div>
  </div>
</div>

<div class="row" *ngIf="serviceDefinitionMode == 'automated'">
  <div class="col-sm-12 text-center">
    <div class="section">
      <div class="sectionTitle">Select Service Definition</div>

      <div class="d-flex flex-row">
        <div *ngFor="let supplier of availableServiceDefinitions"
              class="supplierGroup d-flex flex-column">
          {{ supplier.name }}
          <div *ngFor="let serviceDefinition of supplier.serviceDefinitions">
            <button mat-raised-button
                    [class.selected]="serviceDefinition.serviceDefinitionId == selectedServiceDefinition && supplier.id == selectedSupplier"
                    class="btn btn-primary btnSearch text-center"
                    (click)="selectServiceDefinition(serviceDefinition); setSelectedSupplier(supplier);">
              {{ serviceDefinition.description }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="launchSection">
  <button mat-button class="btn btn-primary btn-block launch" (click)="triage()"
    [disabled]="disableLaunch()">Launch
  </button>
</div>


<div class="row" *ngIf="selectedServiceDefinition != null">
  <app-service-definition
      class="col-md-12"
      [(selectedServiceDefinition)]="selectedServiceDefinition"
      [(selectedQueryType)]="selectedQueryType"
      [(selectedSupplier)]="selectedSupplier"></app-service-definition>
</div>
