<mat-progress-bar mode="indeterminate" *ngIf="!loaded"></mat-progress-bar>
<div class="container-fluid">
  <div class="row" *ngIf="loaded">
    <div class="header col-10 offset-1 col-sm-6 offset-sm-3">
      {{ title }}
    </div>
    <div class="alert alert-danger" *ngIf="error">
      {{ errorMessage }}
      <app-error-display [(errorObject)]="errorObject"></app-error-display>
    </div>
    <form *ngIf="!error" [formGroup]="formData" (ngSubmit)="updateSettings(formData.value)" class="form col-10 offset-1 col-sm-6 offset-sm-3">
      <div class="alert alert-warning" *ngIf="warning">
          {{ warningMessage }}
      </div>

      <h3>Triage settings</h3>

      <div class="input">
        <mat-form-field class="full-width">
          <mat-label>User Language</mat-label>
          <input matInput placeholder="English" formControlName="userLanguage">
        </mat-form-field>
      </div>
      <br />
      <div class="input">
        <mat-form-field class="full-width">
          <mat-label>User Task Context</mat-label>
          <input matInput placeholder="triage" formControlName="userTaskContext">
        </mat-form-field>
      </div>
      <br />
      <div class="input">
        <mat-form-field class="full-width">
          <mat-label>Recipient Language</mat-label>
          <input matInput placeholder="English" formControlName="recipientLanguage">
        </mat-form-field>
      </div>

      <hr>

      <div class="buttons">
        <button [disabled]="!formData.valid" type="submit" class="actionButton" (click)="updateSettings(this.formData)">Save</button>
        <span class="cancelButton" [routerLink]="['/main']">Cancel</span>
      </div>
      <div class="alert alert-danger" *ngIf="updateError">
        {{ updateErrorMessage }}
      </div>
      <div class="alert alert-info" *ngIf="saved">
        Settings saved successfully for this session.
      </div>
    </form>
  </div>
</div>
  