<h1 *ngIf="supplier.name" mat-dialog-title>Edit: {{supplier.name}}</h1>
<h1 *ngIf="!supplier.name" mat-dialog-title>Create EMS:</h1>
<div mat-dialog-content>
    <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input class="emsName" required matInput [(ngModel)]="updatedSupplier.name" />
        <mat-error *ngIf="!updatedSupplier.name">Required</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Base URL</mat-label>
        <input class="emsBaseUrl" required matInput [(ngModel)]="updatedSupplier.baseUrl" />
        <mat-error *ngIf="!updatedSupplier.baseUrl">Required</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Bearer Token (included in Authorization header)</mat-label>
        <input class="emsAuthToken" matInput [(ngModel)]="updatedSupplier.authToken" />
    </mat-form-field>
    <div mat-dialog-actions>
        <button mat-button (click)="cancel()">Cancel</button>
        <button class="saveEms" mat-button [disabled]="!updatedSupplier.name || !updatedSupplier.baseUrl" (click)="save()">Save</button>
    </div>
</div>
