.header {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #005EB8;
    color: white;
}

.form {
    padding: 2%;
    border-color: lightgrey;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    white-space: nowrap;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.actionButton {
    background-color: white;
    border: 2px solid #425563;
    margin: 5px;
    padding: 5px 25px;
    cursor: pointer;
}

.actionButton:hover {
    background-color: lightgray;
    color: white;
}

.cancelButton {   
    padding: 5px 25px;
    text-decoration: underline;
    margin: 5px;
    cursor: pointer;
}

.cancelButton:hover {
    background-color: lightgray;
    color: white;
}

.serviceDefinitionListItem {
    height: 22px!important;
}
.serviceDefinitionListClose {
    cursor: pointer;
}

mat-button-toggle-group {
    margin-bottom: 20px;
}