<mat-card class="response" style="margin-right: 45px;">

<mat-card-title>Search for Service: </mat-card-title>

<button mat-raised-button (click)="getDosResponse()" class="col-md-4" id="search">Search</button>

<mat-card-title *ngIf="response || !error" style="clear:both;">Service Summary: </mat-card-title>
<ngx-json-viewer *ngIf="response" [json]="response" [expanded]="false"></ngx-json-viewer>
<mat-card-title *ngIf="error" style="clear:both;">Error Summary: </mat-card-title>
<ngx-json-viewer *ngIf="error" [json]="error.error" [expanded]="true"></ngx-json-viewer>
</mat-card>
