<mat-progress-bar mode="indeterminate" *ngIf="!loaded"></mat-progress-bar>
<div class="container-fluid" *ngIf="loaded">
        <div class="row">
          <div class="header col-10 offset-1 col-sm-4 offset-sm-4">
            {{ title }}
          </div>
          <form [formGroup]="formData" (ngSubmit)="resetPassword(formData.value)" class="form col-10 offset-1 col-sm-4 offset-sm-4">
            <div class="input">
              <mat-form-field class="full-width">
                <input matInput placeholder="Username" formControlName="username">
              </mat-form-field>
            </div>
            <div class="input" *ngIf="!reset">
              <mat-form-field class="full-width">
                <input matInput type="password" placeholder="Current Password" formControlName="oldPassword">
                <mat-error *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)">
                  Current password is required.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="input">
              <mat-form-field class="full-width">
                <input matInput type="password" placeholder="New Password" formControlName="password">
                <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                  Password is required.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="input">
              <mat-form-field class="full-width">
                <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword">
                <mat-error *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                  Confirmation is required and must match.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="buttons">
              <button class="actionButton" [disabled]="!formData.valid" type="submit">Reset</button>
              <span class="cancelButton" [routerLink]="reset ? ['/users/update'] : ['/main']" [queryParams]="{username: username}">Cancel</span>
            </div>
            <div class="alert alert-danger" *ngIf="error">
              {{ errorMessage }}
              <app-error-display [(errorObject)]="errorObject"></app-error-display>
            </div>
          </form>
        </div>
      </div>
        